<p id="notice"><%= notice %></p>

<div>
<h1 style="display:inline;"><%= @distillery.name %> Whiskeys</h1>
<%= link_to 'Edit', edit_distillery_path(@distillery) %> 
</div><br/>

<% whiskeys = @distillery.whiskeys %>
<table>
  <% whiskeys.each do |whiskey| %>
  <tr>
    <%= render whiskey %>
  </tr>
  <% end %>
</table>

