<p id="notice"><%= notice %></p>

<div>
<h1 style="display:inline;"><%= @category.name %></h1>
<%= link_to 'Edit', edit_distillery_path(@category) %>
</div><br/>

<% whiskeys = @category.whiskeys %>
<table>
  <% whiskeys.each do |whiskey| %>
  <tr>
    <%= render whiskey %>
  </tr>
  <% end %>
</table>
